<h1>Añadir nuevo restaurante</h1>

<form #formRestaurante="ngForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="">Nombre:</label>
    <input type="text" #nombre="ngForm" ngControl="nombre" [(ngModel)]="restaurante.nombre" required/>
    <span *ngIf="!nombre.valid">El nombre es obliatorio!!</span>
  </div>
  <div>
    <label for="">Dirección:</label>
    <input type="text" #direccion="ngForm" ngControl="direccion" [(ngModel)]="restaurante.direccion" required/>
    <span *ngIf="!direccion.valid">La dirección es obliatoria!!</span>
  </div>
  <div>
    <label for="">Descripción:</label>
    <textarea #descripcion="ngForm" ngControl="descripcion" [(ngModel)]="restaurante.descripcion" required></textarea>
    <span *ngIf="!descripcion.valid">La descipción es obliatoria!!</span>
  </div>
  <div>
    <label for="">Precio:</label>
    <select #precio (change)="onChange()">
      <option value="bajo">bajo</option>
      <option value="medio">medio</option>
      <option value="alto">alto</option>
    </select>
  </div>
  <div>
    <input type="submit" value="Crear Restaurante" [disabled]="!formRestaurante.form.valid">
  </div>
</form>
